*{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(233, 233, 233);
}

body{
    background-color: rgb(13, 32, 66);
    margin: 0;
}

#navigation-bar{
    position: fixed;
    width: 100%;
    background-color: rgb(13, 32, 66);
    top: 0;
    z-index: 1000;
}

#navigation-bar nav{
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: right;
}

#navigation-bar nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    
}

#navigation-bar nav li{
    display: inline-block;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    font-weight: 600; 
}

#navigation-bar nav li a{
    color:rgb(181, 206, 248);
    transition: color 0.2s;
    text-decoration: none;
}

#navigation-bar nav li a.active{
    color: white;
    font-weight: bold;
    
}

#navigation-bar nav li a:hover{
    color: rgb(233, 233, 233) !important;
}

#navigation-bar nav li#nav-name{
    float: left;
    font-weight: bold;
}

#nav-toggle{
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: rgb(233, 233, 233);
}

#nav-toggle.open{
    animation: rotateOpen 0.5s forwards;
}

#nav-toggle.close{
    animation: rotateClose 0.5s forwards;
}

header{
    position: relative;
    padding: 50px;
    padding-left: 150px;
    height: 300px;
    background-image: url("../images/code-bkgd-edit.PNG");
    background-size: cover;
    margin-top: 70px;
}

header h3{
    margin: 0;
}

header h1{
    font-size: 50px;
    text-underline-offset: 25px;
    margin-top: 5px;
    margin-bottom: 30px;
}

#header-wording{
    position: relative;
    top: 25%;
}

#socials a img{
    width: 30px;
    margin: 0 10px;
}

#section-container{
    position: relative;
}

#projects, #resume, #skills{
    margin: 10px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 10px;
}

#geico-imaging, #nadc, #kohls{
    margin-left: 20px;
}

.project{
    display: -webkit-flex;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, opacity 0.2s;
    background-color: rgb(19, 42, 82);
    border-radius: 5px;
    box-sizing: border-box;
}

.project:hover{
    background-color: rgb(57,97,167);
    color: #fff;
    border-radius: 5px;
}

.project:hover .thumbnail{
    border: 2px solid #fff;
}

.project:hover .description h3{
    color: #fff;
}

.thumbnail{
    flex: 0 0 150px;
    height: 50px;
    background-size: cover;
    background-position: center;
    margin: 10px;

}

.thumbnail-bullyblock{
    flex: 0 0 150px;
    height: 150px;
    width: auto;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: 10px;
}

.description{
    padding: 10px;
    flex-grow: 1;
    box-sizing: border-box;
}

.description h3{
    margin-top: 0;
}

.tags{
    margin-top: 10px;
}

.tag{
    display: inline-block;
    color: rgb(210, 241, 255);
    background-color: rgb(66, 141, 212);
    padding: 5px 10px;
    border-radius: 3px;
    margin-right: 5px;
    margin-bottom: 10px;
    font-size: 12px;
}

.skills-tags{
    margin: 10px;
}

.skills-tag{
    display: inline-block;
    background-color: rgb(66, 141, 212);
    padding: 5px 10px;
    margin: 10px;
    border-radius: 6px;
    font-size: 18px;
}

@media (max-width: 768px)
{
    header {
        padding: 20px;
        height: 300px;
        text-align: center;
        margin-top: 20px;

    }

    header h1 {
        font-size: 40px;
        text-underline-offset: 20px;;
    }

    .project {
        flex-direction: column;
        align-items: flex-start;
    }

    .thumbnail {
        width: 100%;
        height: 200px;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .thumbnail-bullyblock{
        flex: 0 0 150px;
        height: 150px;       
        width: 100%;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        margin: 10px;
    }

    .description {
        width: 100%;
        padding: 20px;
    }

    .tag {
        margin-bottom: 10px;
    }

    #navigation-bar nav {
        text-align: center;
    }

    #nav-toggle {
        display: block;
    }

    #navigation-bar nav ul {
        display: none;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.5s ease-out;
    }

    #navigation-bar nav ul.open {
        display: flex;
        animation: dropDown 0.5s forwards;
        max-height: 300px;
    }

    #navigation-bar nav ul.close {
        display: flex;
        animation: raiseUp 0.5s forwards;
        max-height: 0px;
    }

    #navigation-bar nav li {
        display: block;
        margin: 10px 0;
    }
}

/* Small devices (phones, 480px and up) */
@media (max-width: 480px) {
    header {
        padding: 10px;
        text-align: center;
    }

    header h1 {
        font-size: 30px;
    }

    header h3, header h2 {
        font-size: 16px;
    }

    .project {
        margin: 10px;
        border-radius: 0;
    }

    .thumbnail {
        height: 150px;
    }

    .description {
        padding: 10px;
    }

    .tag {
        margin-bottom: 10px;
    }

    #navigation-bar nav {
        text-align: center;
    }

    #navigation-bar nav ul {
        padding: 0;
    }

    #navigation-bar nav ul.open{
        display: flex;
    }

    #nav-toggle{
        display: block;
        font-size: 20px;
    }

    #navigation-bar nav li {
        margin: 5px 0;
    }


}

@keyframes rotateOpen{
    from {transform: rotate(0deg);}
    to {transform: rotate(90deg);}
}

@keyframes rotateClose{
    from {transform: rotate(90deg);}
    to {transform: rotate(0deg);}
}

@keyframes dropDown{
    from {max-height: 0;}
    to {max-height: 300px;}
}

@keyframes raiseUp{
    from {max-height: 300px;}
    to {max-height: 0;}
}