*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(rgb(185, 185, 255), rgb(137, 137, 192))

}

nav{
    margin: 10px;
    padding: 10px;
    border: solid black;
    text-align: right;
}

nav li{
    display: inline-block;
    margin:5px;
    padding: 10px;
    border-radius: 5px;
    font-weight: 600;
}

nav li#portfolio-button{
    background-color: rgb(82, 209, 247);
}

header{
    padding: 10px;
    margin: 5px;
    background-image: linear-gradient(45deg, rgb(235, 235, 254),rgb(141, 141, 233));
    border-radius: 10px;
}

#section-container{
    display: -webkit-flex;
    justify-content: space-evenly;
}

#projects, #resume, #skills{
    border: solid black;
    height: 300px;
    width: 200px;
    padding: 10px;
    margin: 10px;
}